<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            nav
                ul.nav.nav-pills.bg-dark.py-2
                    .container.d-flex
                        li.nav-item
                            a(href="/", class=(path === '/' ? 'active' : '')).nav-link.text-light Shop
                        li.nav-item
                            a(href="/admin/add-product", class=(path === '/admin/add-product' ? 'active' : '')).nav-link.text-light Add Product
        block content
        script(src="/css/bootstrap.js")