<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ pageTitle }}</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav nav-pills bg-dark py-2">
                <div class="container d-flex">
                    <li class="nav-item">
                        <a class="nav-link text-light {{#if activeShop}}active{{/if}}" href="/">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light {{#if activeAddProduct}}active{{/if}}" href="/admin/add-product">Add Product</a>
                    </li>    
                </div>
            </ul>
        </nav>
    </header>

    {{{ body }}}

    <script src="/css/bootstrap.js"></script>
</body>
</html>