<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Add Product</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav nav-pills bg-dark py-2">
                <div class="container d-flex">
                    <li class="nav-item"><a class="nav-link active text-light" href="/">Shop</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="/admin/add-product">Add Product</a></li>    
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <article class="card my-5 py-4">
                <div class="card-body">
                    <h1 class="card-title text-center">Book</h1>
                    <img src="https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="A book" class="card-img-top">
                    <h2>$19.9</h2>
                    <p class="card-text">A very interesting book about so many even more interesting content</p>
                    <button class="btn btn-success">Add to Cart</button>
                </div>
            </article>
        </div>
    </main>

    <script src="/css/bootstrap.js"></script>
</body>
</html>