<form action="/cart" method="POST" class="d-inline mx-1">
  <button class="btn btn-success" type="submit">Add to Cart</button>
  <input type="hidden" name="productId" id="productId" value="<%= product._id %>">
</form>