<%- include('partials/head.ejs') %> 
    <form action="/add-user" method="POST">
        <input type="text" name="username" id="username">
        <button type="submit">Add User</button>
    </form>
<%- include('partials/end.ejs') %> 